@font-face {
  font-family: 'PHONK';
  src: url('./assets/fonts/Phonk.otf') format('opentype');
}
body {
  background: linear-gradient(#151726 0%, #070707 100%);
  min-height: 100vh;
  max-width: 100vw;
}
.home {
  min-height: 100vh;
  width: 100%;
  position: relative;
  cursor: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cursor-none {
  cursor: none;
}

.homecenter {
  transition: 0.3s;
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  width: 80vw;
  overflow: hidden;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  height: 80vh;
  border: 5px solid black;
}
.squareimg {
  right: 0px;
  bottom: 0px;
  width: 400px;
  height: 400px;
}

img {
  position: absolute;
  height: 400px;
}
.introtitle {
  margin: 50px;
  font-family: "Roboto";
  font-weight: 800;
  font-size: 3rem;
}
.squareimg:hover {
  .pfpfg {
    transition: 0.8s;
    filter: blur(2px);
  }
  .pfpimg {
    scale: 1.05;
    transition: 0.2s;
  }
  .pfpbg {
    transition: 0.5s;
    filter: blur(7px);
  }
}
.pfpfg {
  z-index: 3;
  transition: 0.2s;
}
.pfpimg {
  transform-origin: bottom center;
  z-index: 2;
  transition: 0.2s;
}
.pfpbg {
  z-index: 1;
  transition: 0.5s;
}
.gridbox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 30px;
}
.tile {
  overflow: hidden;
  border-radius: 15px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  width: 300px;
  height: 300px;

  background-color: beige;
}
.tags {
  padding-bottom: 10px;
  padding-left: 10px;
  z-index: 3;
  display: flex;
}
.tag {
  transition: 0.3s;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
  background-color: rgb(230, 230, 230);
}
.tileimg {
  border-radius: 15px;
  width: 300px;
  height: 300px;
}
.tag:hover {
  scale: 1.05;
}
.goto {
  position: relative;
  left: 260px;
  transition: 0.2s;
  opacity: 0;
  z-index: 5;
}
.tile:hover .goto {
  opacity: 1;
}
.tile:hover {
  box-shadow: 5px 5px 10px #888888;
}
.gotoimg {
  z-index: 7;
  width: 40px;
  height: 40px;
}

.vid1 {
  height: 500px;
  margin: 50px;
  filter: sepia();
  transition: 2s;
  border-radius: 50%;
  border: 10px solid white;
}

.vid1:hover {
  filter: none;
}

.pointer {
  pointer-events: none;
  z-index: 100;
  position: absolute;
  backdrop-filter: invert();
  /* filter: invert(); */
  border-radius: 50%;
}
@media (pointer: coarse) {
  .pointer {
    display: none;
  }
}
.button1 {
  font-size: 24px;
  color: white;
  background-color: #406aff;
  border: none;
  width: 175px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 20px;
  transition: 0.3s ease-in;
  box-shadow: inset 0px 0 0 0 rgb(249, 249, 249);
}
.button1:hover {
  border: 2px solid black;
  cursor: none;
  color: rgb(0, 0, 0);
  stroke: black;
  box-shadow: inset 250px 0px 15px 0px rgb(255, 255, 255);
}
.button1:hover + .pointer {
  opacity: 0;
  filter: none;
}

.button-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}
.button-container:active .button_bg{
  background-color: rgb(255, 255, 255);
}
.button2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
  transition: 0.3s;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.button2:hover{
  color: black;
}
.button_bg {
  border-radius: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background-color: #fcdb21;
  transition: width 0.3s ease-out;
}
.button2:hover ~ .button_bg {
  width: 100%;
}
.button2:hover {
  cursor: none;
}
/* .hidePointerOnHover{
  opacity: 1;
}
.hidePointerOnHover:hover{
  opacity: 0;
  filter: none;
} */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.vidfull {
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: sepia();
  animation: fadeIn 3s ease forwards;
  object-fit: cover;
}
/* ---LOADER ANIMATION--- */
.loader {
  width: 65px;
  aspect-ratio: 1;
  position: relative;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50px;
  box-shadow: 0 0 0 3px inset #fff;
  animation: l4 2.5s infinite;
}
.loader:after {
  animation-delay: -1.25s;
}
@keyframes l4 {
  0% {
    inset: 0 35px 35px 0;
  }
  12.5% {
    inset: 0 35px 0 0;
  }
  25% {
    inset: 35px 35px 0 0;
  }
  37.5% {
    inset: 35px 0 0 0;
  }
  50% {
    inset: 35px 0 0 35px;
  }
  62.5% {
    inset: 0 0 0 35px;
  }
  75% {
    inset: 0 0 35px 35px;
  }
  87.5% {
    inset: 0 0 35px 0;
  }
  100% {
    inset: 0 35px 35px 0;
  }
}

/* ---PARALLAX--- */
.parallax-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  min-height: 100vh;
  position: relative;
}
.parallax-layer {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  transition: transform 0.3s ease;
  pointer-events: none;
}

.parallax-layer img {
  width: 100%;
  height: auto;
  display: block;
}

.phonk{
  font-family: 'PHONK', sans-serif;
}
.Opacity0{
  opacity: 0;
}